
@{
    ViewBag.Title = "Tạo đơn vận chuyển";
}

<form action="/DonVanChuyen/ThanhToanCuocPhi" method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-4">
                @*Người gửi*@
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">NGƯỜI GỬI</span>
                            <a>Quản lý thông tin người gửi</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <select class="form-control">
                            <option>Chọn thông tin người gửi</option>
                        </select>
                        @*<p style="color: red">Người gửi không được để trống</p>*@
                    </div>
                </div>
                @*Người nhận*@
                <div class="card mt-3">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">NGƯỜI NHẬN</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Điện thoại<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input name="SDT" type="text" class="form-control" id="phoneNumber" placeholder="Nhập số điện thoại người nhận">
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <label class="col-sm-3 col-form-label">Họ tên<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input name="TenNguoiNhan" type="text" class="form-control" id="fullName" placeholder="Nhập tên người nhận">
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <label class="col-sm-3 col-form-label">Địa chỉ<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input name="DiaChi" type="text" class="form-control" id="diaChi" placeholder="Nhập địa chỉ (số nhà/tên đường, phường/xã, quận/huyện, tỉnh/thành...)">
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <label for="staticEmail" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <div class="row justify-content-between">
                                    <div class="col-sm-6">
                                        <input name="ThanhPho" type="text" class="form-control" id="city" placeholder="Tỉnh/Thành phố">
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="Quan" type="text" class="form-control" id="district" placeholder="Huyện/Quận">
                                    </div>
                                </div>
                                <div class="row justify-content-between mt-2">
                                    <div class="col-sm-6">
                                        <input name="Phuong" type="text" class="form-control" id="phuong" placeholder="Phường/Xã">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="duong" placeholder="Đường">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Voucher*@
                <div class="card mt-2">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">VOUCHER</span>

                        </div>
                    </div>
                    <div class="card-body mt-2">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">KHUYẾN MẠI</label>
                            <div class="col-sm-9 input-with-icon d-flex">
                                <input name="code" type="text" class="form-control" id="voucherCode" placeholder="Nhập mã khuyến mại">
                                <div class="d-flex justify-content-between align-items-center p-2 mt-1">
                                    <p id="motakhuyenmai" class="m-0"></p>
                                    <i id="iconkhuyenmai" class="" style=" color: #0ee112;"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*hang hoa*@
            <div class="col-lg-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">THÔNG TIN HÀNG HÓA</span>
                            <a>Quản lý thông tin hàng hoá</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="list-hanghoa">
                            <div class="hanghoa" data-index="0">
                                <hr />

                                <div class="form-group row">
                                    <div class="form-group col-sm-2">
                                        <label class="col-form-label">Tên hàng<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input name="HANGHOAs[0].TenHangHoa" type="text" class="form-control" placeholder="Nhập tên hàng hóa">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row mt-2">
                                            <div class="col-sm-4">
                                                <input name="HANGHOAs[0].SoLuong" type="number" class="form-control" placeholder="Nhập số lượng hàng hóa">
                                            </div>
                                            <div class="col-sm-4">
                                                <input name="HANGHOAs[0].KhoiLuong" type="number" class="form-control khoiLuongInput" placeholder="Nhập khối lượng hàng hóa (gram)">
                                            </div>
                                            <div class="col-sm-4">
                                                <input name="HANGHOAs[0].GiaTri" type="number" class="form-control giaTriInput" placeholder="Giá trị">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                            </div>
                        </div>
                        <div class="btnAdd mb-3 mt-2">
                            <button type="button" class="btn btn-viettel">Thêm hàng hóa</button>
                        </div>
                        <hr />
                        <div class="mb-2 mt-2 row">
                            <label class="col-xl-3 col-form-label">Tổng khối lượng:</label>
                            <div id="tongKhoiLuong" class="col-xl-9 text-end fw-bold" style="color:orangered">0 g</div>
                        </div>
                        <div class="mb-2 row">
                            <label class="col-xl-3 col-form-label">Tổng giá trị:</label>
                            <div id="tongGiaTri" class="col-xl-9 text-end fw-bold" style="color:orangered">0&nbsp;₫</div>
                        </div>
                        <hr />
                        <div class="flex-column">
                            <label class="fw-bolder">TIỀN THU HỘ</label>
                            <p class="cod"> <i class="fa fa-info-circle"></i> Hình thức thanh toán tiền COD</p>
                            <input name="TienThuHo" id="tienThuHo" type="number" class="form-control" placeholder="0 ₫">
                            <label class="fw-bolder">GHI CHÚ</label>
                            <textarea name="GhiChu" id="ghiChu" class="form-control" placeholder="Nhập ghi chú"></textarea>
                            <label class="fw-bolder">TỔNG CƯỚC</label>
                            <p id="shippingCost" class="fs-2 fw-bold">0&nbsp;₫</p>
                            <div class="d-flex align-items-center">
                                <p id="khuyenMaiText"></p>
                                <p id="giamGia" style="color: green"></p>
                            </div>

                            <input name="TongTienCuoc" type="hidden" id="shipCost">
                        </div>
                        <div class="mt-4 d-flex justify-content-end gap-2">
                            <button id="submit-button" type="submit" class="btn btn-primary">Thanh toán cước phí</button>
                            <button id="cancel" type="button" class="btn btn-danger">Làm mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Modal success-->
<div class="modal fade" id="myModal-Success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thông báo hệ thống</h3>
            </div>
            <div class="modal-body">
                <h4 class="modalcontent"></h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal" onclick="CloseModalSuccess()">Đóng</a>
            </div>

        </div>

    </div>

</div>


<script src="https://kit.fontawesome.com/ef3275e9a2.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    function Show() {
        $("#myModal-Success").modal("show");
    }
    function CloseModalSuccess() {
        $("#myModal-Success").modal("hide");
    }
    function OpenSuccessModal(strMesssage) {
        document.getElementsByClassName("modalcontent")[0].innerHTML = strMesssage;
        $("myModal-Success").modal("show");
    }
    $(document).ready(function () {
        var msg = "@ViewBag.Message";
        if (msg) {
            OpenSuccessModal(msg);
            Show();
        }
            
    });
    $(document).ready(function () {
        var khuyenMai = {
            phanTramGiam: 0,
            moTa: "",
            toiDa: 0,
        }
        var khuyenMaiText = document.querySelector("#khuyenMaiText");
        var motakhuyenmai = document.querySelector("#motakhuyenmai");
        var iconkhuyenmai = document.querySelector("#iconkhuyenmai");
        var giamGiaText = document.querySelector("#giamGia");
        var btnAddHangHoa = document.querySelector(".btn-viettel");

        var listHangHoa = document.querySelector(".list-hanghoa");

        var hangHoaCounter = 1;

        btnAddHangHoa.addEventListener("click", function () {
            event.preventDefault();
            // Tạo một div mới có lớp CSS "hanghoa"
            var newHangHoa = document.createElement("div");
            newHangHoa.className = "hanghoa";
            newHangHoa.dataset.index = hangHoaCounter;
            var appendChild = `<div class="d-flex mb-2"><button class="btn btn-secondary ms-auto btn-trash" ><i class="fa-solid fa-trash ms-auto"></i></button></div>
                                <div class="form-group row">
                                <div class="form-group col-sm-2">
                                    <label class="col-form-label">Tên hàng<span class="text-danger">*</span></label>
                                </div>
                                <div class="col-sm-10">
                                    <input name="HANGHOAs[` + hangHoaCounter + `].TenHangHoa" type="text" class="form-control" placeholder="Nhập tên hàng hóa">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">

                                </div>
                                <div class="col-sm-10">
                                    <div class="row mt-2">
                                        <div class="col-sm-4">
                                            <input name="HANGHOAs[` + hangHoaCounter + `].SoLuong" type="number" class="form-control" placeholder="Nhập số lượng hàng hóa">
                                        </div>
                                        <div class="col-sm-4">
                                            <input name="HANGHOAs[` + hangHoaCounter + `].KhoiLuong" type="number" class="form-control khoiLuongInput" placeholder="Nhập khối lượng hàng hóa (gram)">
                                        </div>
                                        <div class="col-sm-4">
                                            <input name="HANGHOAs[` + hangHoaCounter + `].GiaTri" type="number" class="form-control giaTriInput" placeholder="Giá trị">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />`;

            // Nội dung HTML của div.hanghoa
            newHangHoa.innerHTML = appendChild;


            listHangHoa.appendChild(newHangHoa);
            hangHoaCounter++;


        });

        $("#cancel").on("click", function (event) {
            event.preventDefault();
            location.reload();
        });

        $(document).on('input', '.khoiLuongInput, .giaTriInput', function () {
            calculateTotals();
        });
        const ratePerGram = 0.5;
        const ratePerValue = 0.02;
        function calculateTotals() {
            var totalKhoiLuong = 0;
            var totalGiaTri = 0;
            var shippingCost = 0;

            $(".hanghoa").each(function (index, element) {
                var khoiLuong = parseFloat($(element).find(".khoiLuongInput").val()) || 0;
                var giaTri = parseFloat($(element).find(".giaTriInput").val()) || 0;
                totalKhoiLuong += khoiLuong;
                totalGiaTri += giaTri;
            });
            var formattedTotalGiaTri = totalGiaTri.toLocaleString();
            var formattedTotalKhoiLuong = totalKhoiLuong.toLocaleString();
            var formattedShippingCost = (totalGiaTri * ratePerValue) + (totalKhoiLuong * ratePerGram);
            var giamGia = formattedShippingCost * khuyenMai.phanTramGiam;

            if (giamGia > khuyenMai.toiDa) {
                giamGia = khuyenMai.toiDa;
                console.log("giam > toi da" + giamGia)
            }
            formattedShippingCost -= giamGia;
            console.log("giam < toi da" + giamGia)
            if (giamGia > 0) {
                khuyenMaiText.textContent = "Tiết kiệm: ";
                giamGiaText.textContent = giamGia.toLocaleString() + " đ"
            } else {
                khuyenMaiText.textContent = "";
                giamGiaText.textContent = "";
            }
            $("#shipCost").val(formattedShippingCost);
            var formattedShippingCost = formattedShippingCost.toLocaleString();
            $("#tongKhoiLuong").text(formattedTotalKhoiLuong + " g");
            $("#tongGiaTri").text(formattedTotalGiaTri + " ₫");
            $("#shippingCost").text(formattedShippingCost + " ₫");
        }

        //voucher
        $('#voucherCode').on('input', function () {
            var voucherCode = $(this).val();
            console.log(voucherCode);
            $.ajax({
                url: '/DonVanChuyen/getVoucher',
                type: 'GET',
                data: { voucher: voucherCode },
                success: function (response) {
                    console.log(JSON.stringify(response))
                    khuyenMai.phanTramGiam = response.phanTram; // Lấy giá trị từ response
                    khuyenMai.moTa = response.moTa; // Lấy giá trị từ response
                    khuyenMai.toiDa = response.toiDa; // Lấy giá trị từ response

                    motakhuyenmai.textContent = khuyenMai.moTa;
                    iconkhuyenmai.style.color = "#0ee112"
                    iconkhuyenmai.classList.remove("fa-xmark");
                    iconkhuyenmai.classList.add("fa-solid");
                    iconkhuyenmai.classList.add("fa-check");
                    calculateTotals();

                },
                error: function (error) {
                    console.log(error);
                    khuyenMai.phanTramGiam = 0;
                    khuyenMai.moTa = "";
                    khuyenMai.toiDa = 0;
                    motakhuyenmai.textContent = "Mã khuyến mại không tồn tại";
                    iconkhuyenmai.classList.remove("fa-check");
                    iconkhuyenmai.classList.add("fa-xmark");
                    iconkhuyenmai.style.color = "#da0b0b";
                    calculateTotals()
                }
            });
        });
        function findParentByClass(element, className) {
            while (element && !element.classList.contains(className)) {
                element = element.parentElement;
            }
            return element;
        }
        $(document).on("click", ".btn-trash", function (event) {
            event.preventDefault();

            var parentElement = findParentByClass(this.parentElement, "hanghoa");

            if (parentElement) {
                parentElement.remove();

                calculateTotals();

                var remainingHangHoas = document.querySelectorAll(".hanghoa");
                remainingHangHoas.forEach(function (hangHoa, index) {
                    // Lấy chỉ mục mới
                    var newIndex = index;

                    // Cập nhật thuộc tính data-index
                    hangHoa.setAttribute("data-index", newIndex);

                    // Cập nhật tên của các trường input bên trong mục hàng hóa
                    var inputFields = hangHoa.querySelectorAll("input");
                    inputFields.forEach(function (input) {
                        var currentName = input.getAttribute("name");
                        var newName = currentName.replace(/HANGHOAs\[\d+\]/, `HANGHOAs[${newIndex}]`);
                        input.setAttribute("name", newName);
                    });
                });

                // Cập nhật chỉ mục cho các mục hàng hóa còn lại trong danh sách
                hangHoaCounter = remainingHangHoas.length;
            }
        });
    });

</script>

