
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>DangNhap</h2>
<form action="/QuanLyDonHangShipper/DangNhap" method="post">
    <input name="id" placeholder="id"/>
    <button type="submit">đăng nhập</button>
</form>
