
@{
    ViewBag.Title = "Dịch Vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div>
    <div style="position:relative;background-color:#EE0033;width:150px;height:60px;color:white;border-radius:15px;left:680px">
        <h2 style="position:absolute;left:25px;top:10px">Dịch vụ</h2>
    </div>
</div>
<section id="s1">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col">
                    <div class="list-item service">
                        <div class="item" style="position:relative;width: 1200; height: 250;border: 3px outset #f7f8fc;border-radius:40px">
                            <div style="position:relative;left:30px">
                                <img style="position:relative;top:10px" src="https://viettelpost.com.vn/wp-content/uploads/2017/07/Group-905.png">
                                <br /><br />
                                <h4 class="p1" style="font-weight:bold">Chuyển phát nhanh</h4>
                                <div>
                                    <div>
                                        <p class="p2">
                                            Là dịch vụ nhận gửi, vận chuyển và phát nhanh chứng từ hàng hóa, vật phẩm có thứ tự ưu tiên cao nhất trong các dịch vụ chuyển phát với chỉ tiêu thời gian toàn trình không quá 24 giờ.
                                        </p>
                                    </div>
                                </div>
                                <a style="position: relative; left: 1100px; bottom: 10px; color: red" href="">
                                    <span>Chi tiết</span>
                                    <img src="https://viettelpost.com.vn/wp-content/themes/viettel/images/home/icon3.png">
                                </a>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="item" style="position:relative;width: 1200; height: 250;border: 3px outset #f7f8fc;border-radius:40px">
                            <div style="position:relative;left:30px">
                                <img style="position:relative;top:10px" src="https://viettelpost.com.vn/wp-content/themes/viettel/images/home/icon1.png">
                                <br /><br />
                                <h4 class="p1" style="font-weight:bold">Chuyển phát tiết kiệm</h4>
                                <div>
                                    <div>
                                        <p class="p2">
                                            Chuyển phát tiết kiệm là dịch vụ nhận gửi, vận chuyển và phát các loại hàng hóa, bưu phẩm, bưu kiện trong nước, không giới hạn mức trọng lượng, theo chỉ tiêu thời gian tiêu chuẩn, giá <br /> cước hợp lý
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <a style="position:relative;left:1100px;bottom:10px;color:red" href="">
                                        <span>Chi tiết</span>
                                        <img src="https://viettelpost.com.vn/wp-content/themes/viettel/images/home/icon3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="item" style="position:relative;width: 1200; height: 250;border: 3px outset #f7f8fc;border-radius:40px">
                            <div style="position:relative;left:30px">
                                <img style="position:relative;top:10px" src="https://viettelpost.com.vn/wp-content/themes/viettel/images/home/icon1.png">
                                <br /><br />
                                <h4 class="p1" style="font-weight:bold">Chuyển phát quốc tế</h4>
                                <div>
                                    <div>
                                        <p class="p2">
                                            Chuyển phát quốc tế là là quá trình gửi hàng hóa, bưu phẩm, hoặc các mặt hàng từ một quốc gia đến một quốc gia khác. Điều này thường bao gồm việc sử dụng các dịch vụ và công ty vận <br /> chuyển quốc tế để đảm bảo rằng hàng hóa được vận chuyển một cách an toàn và hiệu quả từ điểm xuất phát đến điểm đích trên khắp thế giới.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <a style="position:relative;left:1100px;bottom:10px;color:red" href="">
                                        <span>Chi tiết</span>
                                        <img src="https://viettelpost.com.vn/wp-content/themes/viettel/images/home/icon3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

